@font-face {
	font-family: "Garamond Pro";
	src: url("https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
		format("truetype");
}

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: "Garamond Pro";

	--x: 35vw;
}

canvas {
	position: fixed;
	z-index: -10;
	top: 0;
	translate: calc(-50vw + var(--x));
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 4rem;
	letter-spacing: max(0px, calc(calc(var(--x) / 6) - 2rem));
	text-align: justify;
	width: var(--x);
	top: 5rem;
	position: absolute;
}

section#lyrics {
	display: flex;
	flex-direction: column;
	gap: 50rem;
	letter-spacing: 0;
	margin-top: 200vh;
}

h2 {
	font-size: 1.5rem;
}
section#lyrics > h2:nth-child(1) {
	letter-spacing: max(0px, calc(calc(var(--x) / 16) - 0.75rem));
}
section#lyrics > h2:nth-child(2),
section#lyrics > h2:nth-child(3),
section#lyrics > h2:nth-child(4),
section#lyrics > h2:nth-child(5) {
	letter-spacing: max(0px, calc(calc(var(--x) / 9) - 0.75rem));
}
section#lyrics > h2:nth-child(6) {
	letter-spacing: max(0px, calc(calc(var(--x) / 23) - 0.75rem));
}

/* h2 {
	font-size: 1rem;
	letter-spacing: calc(calc(var(--x) / 6) - 0.5rem);
	position: relative;
} */
#scroll-msg {
	font-size: 1.5rem;
	letter-spacing: max(0px, calc(calc(var(--x) / 10) - 0.75rem));
	position: absolute;
	bottom: 5rem;
}

#info-display {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2rem;
	font-size: 0.8rem;
}
